body {
  padding-left: 0px;
  font-family: helvetica;
}

h1 {
  color: #BCA324;
  font-size: 50px;
}

h2 {
  padding-left: 50px;
}

/*h3 {
}*/

title {
  color: red;
  font-size: 50px;
}

p {
  font-size: 17px;
  line-height: 26px;
  width: 50em;
  word-spacing: 1px;
}

.app {
  background-color: #3E6692;
  overflow: hidden;
}

.app a {
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.app a:hover {
  background-color: rgba(255, 255, 255, 0.658);
  color: white;
}

.app a.active {
  background-color: #BCA324;
  color: white;
}

.gauche {
  padding-top: 1%;
  padding-left: 50px;
  line-height: 26px;
  padding-bottom: 2%;
}

.droite {
  width: 50em;
  line-height: 26px;
  padding-left: 25%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.Florent {
  float: right;
  margin-left: 10px;
}


.Frederic {
  /*display: inline-block;*/
  float: left;
  margin-right: 20px;
}

.Kun {
  /*display: inline-block;*/
  float: right;
  margin-left: 20px;
}

.Daniel {
  /*display: inline-block;*/
  float: left;
  margin-right: 20px;
}

.GroupeI {
  width: 50em;
  line-height: 26px;
  padding-top: 6%;
  padding-left: 50px;
}
.member {
  display: flex;
  align-items: center;
}

.photo {
  margin-left: 20px;
}
