body{
  padding-left:0px;
  font-family: helvetica;
}
h1 {
color : #BCA324; 
font-size:50px;
}

p{
font-size:17px;
line-height:26px;
width:50em;
word-spacing:1px;
padding-left:0px;
}

.app {
  background-color:#3E6692;
  overflow: hidden;
}

.app a {
  color:white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.app a:hover {
  background-color: rgba(255, 255, 255, 0.658);
  color: white;
}

.app a.active {
  background-color:#BCA324;
  color: white;}


